$primary: #FEFEFA;
$secondary: #dd3615;
$success: #1eef3d;
$warning: #202c3e;
$info: #FEE2C5;


@import "react-big-calendar/lib/sass/styles";


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

Table, thead, tbody {
    color: $primary;
    padding: 2px;
}
thead {
    font-size: 10px;
}

tr, td {
    background-color: $warning;
    text-align: center;
    max-width: 80px;
}
tr:hover, td:hover {
    background-color: $primary;
}
td:hover {
    background-color: $info;
}
thead:hover {
    color: $warning;
}
button:hover {
    background-color: red;
}
.ratings-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    box-shadow: -1px -1px 2px rgba(255,255,255,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    8px 30px 30px rgba(0,0,0,0.4),
    inset -2px -2px 5px rgba(0,0,0,0.3);
    overflow: hidden;
    text-align: center;
}
.ratings-container h2 {
    margin-bottom: 10px;
    font-weight: 500;
    text-align: center;
}
.ratings-container .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px 0;
    padding-right: 10px;
    box-shadow: -1px -1px 2px rgba(255,255,255,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    8px 30px 30px rgba(0,0,0,0.4),
    inset -2px -2px 5px rgba(0,0,0,0.3);
    overflow: hidden;
}

.ratings-container .skills h3 {
    min-width: 180px;
    margin-left: 20px;
    margin-top: 25px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}
.ratings-container .skills .rating {
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    margin-left: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}
.ratings-container .skills .rating input {
    position: relative;
    width: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    text-align: center;
}
.ratings-container .skills .rating input::before {
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 34px;
    position: absolute;
    left: 4px;
    color: #030b0f;
    transition: 0.5s;
}
.ratings-container .skills .rating input:nth-child(2n + 1)::before {
    right: 4px;
    left: initial;
}
.ratings-container .skills .rating input:hover ~ input::before,
.ratings-container .skills .rating input:hover::before,
.ratings-container .skills .rating input:checked ~ input::before,
.ratings-container .skills .rating input:checked::before {
    color: $primary;
}
.search-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    z-index: 4;
    position: fixed;

    width: 100%;

}
.search-buttons button {
    width: 100%;
}
.tab-border {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;


}
.tab-border button {
    font-size: 10px;
    width: 85%;
}
.testBtn {
    position: absolute;
    top: 8em;
    left: 5em;
    z-index: 0;
}
.home-search {
    position: fixed;
    top: 5.65rem;
    width: 100%;
    z-index: 1;
}
.map-search {
    position: relative;
    width: 100%;
    z-index: 2;
}

.home-search input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    max-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgb(193, 186, 186);
    text-align: center;
}
.map-search input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    max-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgb(193, 186, 186);
    text-align: left;
}

.backlines {
    display: flex;
    flex-direction: row;
}
.backlineColumn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.locate {
    position: absolute;
    top: 8.6rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 7;
}
.locate img {
    width: 35px;
    cursor: pointer;
}
.button-container {
    width: 100%;
    display: flex;
    position: relative;

}
.button-container-elements {
    width: 100%;
    height: 35px;
    z-index: 9;
}
// navbar
.navbar-collapse-overlap {
    z-index: 10;
    overflow: hidden;
}
.navbar-toggler {
    position: relative;
    right: 20px;
}
.navbar-brand {
    border-radius: 10px;
    position: relative;
    left: 20px;
    padding: 12px;
}
// show display
.show-container {
    overflow-y: auto;
    height: 100%;
}
.show-row {
    display: flex;       
}
.show-column {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}
.show-options {
    margin: 12px;
    display: flex;

    margin-left: auto;
    margin-right: auto;
}
.show-span {
    display: flex;
    align-items: center;
}
#dropdown-basic-button {
    margin: 2px;
}
// footer
.footer {
    position: fixed;
    left: 0;
    bottom: -45px;
    width: 100vw;
    background-color: $warning;
    color: black;
    text-align: center;
}
.footer-content {
    text-align: center;
}
.promote-button {
    position: relative;
    font-size: 14px;
    bottom: 20px;
    left: 45%;
    font-weight: bold;
    background: linear-gradient(to left, $info 25%, $primary 75%);
    line-height: 43px;
    width: 65px;
    z-index: 10;
}
.promote-link {
    background: linear-gradient(to left, white 25%, $info 75%);
    text-decoration: none;
    position: relative;
    right: 1.9%;
    color: $warning;
}
.c-player {
    display: block;
    background-color: $warning;
    position: relative;
    top: 22px;
    right: 100px;
    margin: 0px auto;
    padding: 15px;
    border-radius: 16px;
    width: 150px;
    height: 70px;
    box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}

.c-player--controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
}
.c-test {
    z-index: 10;
    position: relative;
    left: 270px;
    bottom: -5px;
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 300px;
    color: white;
}
.playlist-button-container {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin: 0 auto;
    padding: 5px 0;
    position: relative;
    top: 39px;
}
.playlist-button-container button {
    width: 100%;
    border-radius: 0;
    border: 1px solid black;
}
.c-player--controls .play-btn {
    display: flex;
    position: relative;
    top: 13px;
    margin: 0 30px;
    padding: 10px;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: $info;
    color: $warning;
    font-size: 14px;
    cursor: pointer;
}

.c-player--controls .skip-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: $primary;
    font-size: 13px;
    height: 1px;
}
.media-player {
    display: flex;
    flex-direction: flex-start;
    position: relative;
    bottom: 57px;
    height: 90px;
    
}
.audio-player {
    position: relative;
    right: 15px;
    width: 250px;
    height: 95%;
}
.song-container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.song-info {
    position: relative;
    bottom: 33px;
    left: 20px;
    display: flex;
    flex-direction: row;
    padding: 12px;
    height: 70px;
}
.song-info button {
    padding: 2px;
    width: 115px;

}
//playlist
.playlist-container {
    border: 5px solid $warning;
    position: relative;
    bottom: 133px;
    width: 100vw;
    height: 100px;
    z-index: -1;
    display: none;
    background: linear-gradient(to left, $info 91.6%, $primary 8.4%);
}
.playlist-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 4.5%;
    width: 250px;
}
.player-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 30.5%;
    bottom: 20px;
    width: 150px;
}

.current-song-section {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 44.5%;
    border: 1px solid black;
    width: 250px;
}
.playlist-banner {
    border: 1px solid black;
    background-color: $warning;
    color: white;
    position: relative;
    right: 0.2%;
    width: 80px;
    bottom: 0.01%;
}
.playlist-button {
    position: relative;
    bottom: 1px;
    background-color: $info;
    border: none; 
    width: 35.6px;
    height: 27px;
    border: 1px solid $warning;
}
#map {
    overflow: hidden;
    height: 100vh;
    top: 0;
}

.sticky-background {
    top: 0;
    position: sticky;
}
.sticky-map {
    z-index: -1;
    top: 0;
    position: sticky;
}

.profile-border {
    margin-left: auto;
    margin-right: auto;
    margin: 50px;
    border: 1px solid $primary;
    border-radius: 10px;
    overflow-x: hidden;
    padding: 5px;
    background-color: $primary;
    color: $warning;
    box-shadow: -1px -1px 2px rgba(255,255,255,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    8px 30px 30px rgba(0,0,0,0.4),
    inset -2px -2px 5px rgba(0,0,0,0.3);
    position: relative;
    bottom: 25rem;
}
.ticket-border {
    margin-left: auto;
    margin-right: auto;
    margin: 50px;
    border: 1px solid $primary;
    border-radius: 10px;
    overflow-x: hidden;
    padding: 5px;
    background-color: $primary;
    color: $warning;
    box-shadow: -1px -1px 2px rgba(255,255,255,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    8px 30px 30px rgba(0,0,0,0.4),
    inset -2px -2px 5px rgba(0,0,0,0.3);
    position: relative;
    bottom: 25rem;
}
.show-bill-border {
    // margin-left: auto;
    // margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    // border: 1px solid #504848;
    // border-radius: 10px;
    // overflow-x: hidden;

    position: relative;
    bottom: 15rem;
    width: 100%;
}
.ticket-card {
    position: relative;
    bottom: 20rem;
    border-left: 5px solid $primary;
    border-right: 5px solid $primary;
    width: 100%;
}
.promote-a-show {
    position: relative;
    bottom: 25rem;
}
.search-shows {
    position: fixed;
    z-index: 9;
    bottom: 640px;
    margin: auto;
    text-align: center;
}
.search-results {
    width: 100%;
    text-align: center;
    margin: auto;
}
.search-items {
    width: 10px;
    text-align: center;
    margin: auto;
}
.search-input {
    width: 100%;
    text-align: center;
    margin: auto;
    background-color: $warning;
    color: $warning;
}
// .search-click {
//     z-index: 9;
// }
.artist-search-form {
    z-index: 4;
    background-color: white;
    position: fixed;
    width: 100%;
    bottom: 621px;
    text-align: center;
    height: 34px;
}
.artist-search-field {
    width: 100%;
    border-radius: 5px;
    display: inline-block;
    bottom: 202px;
}
.dropdown-hidden {
    text-align: center;
    position: relative;
    top: 15px;
}
.dropdown-basic {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.test {
    display: flex;
    align-items: end;
    flex-direction: row;
}
.action-button {
    position: relative;
    top: 15px;
    border-radius: 50px;
}



@media (max-width: 768px) {

    .show-options {
        margin: auto;
    }
    .show-span {
        flex-direction: column;
    }
}
@media (max-width: 490px) {
    .artist-search-form {
        bottom: 771px;
    }
    .profile-border {
        bottom: 45rem;
    }
    .ticket-border {
        bottom: 45rem;
    }
    .promote-a-show {
        bottom: 45rem;
    }
    .ticket-card {
        position: relative;
        bottom: 40rem;
        border-left: 20px solid $primary;
        border-right: 20px solid $primary;
        border-top: 0.5px solid $primary;
        border-bottom: 0.5px solid $primary;

    }

}
@media (max-width: 395px) {
    .artist-search-form {
        bottom: 720px;
    }
    .profile-border {
        bottom: 40rem;
    }
    .ticket-border {
        bottom: 40rem;
    }
    .promote-a-show {
        bottom: 40rem;
    }
}
@media (max-width: 285px) {
    .artist-search-form {
        bottom: 530px;
    }
    .profile-border {
        bottom: 35rem;
    }
    .ticket-border {
        bottom: 35rem;
    }
    .promote-a-show {
        bottom: 35rem;
    }
}


/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";