$primary: #40f4e2;
$secondary: #7F8487;
$success: #C4DDFF;
$warning: #0f0520;
$info: #FEE2C5;


@import 'react-big-calendar/lib/sass/styles';


body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

Table, thead, tbody {
    color: $primary;
    padding: 2px;
}
thead {
    font-size: 10px;
}

tr, td {
    background-color: $warning;
    text-align: center;
    max-width: 80px;
}
tr:hover, td:hover {
    background-color: $primary;
}
td:hover {
    background-color: $info;
}
thead:hover {
    color: $warning;
}
button:hover {
    background-color: red;
}
.ratings-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    box-shadow: -1px -1px 2px rgba(255,255,255,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    8px 30px 30px rgba(0,0,0,0.4),
    inset -2px -2px 5px rgba(0,0,0,0.3);
}
.ratings-container h2 {
    margin-bottom: 10px;
    font-weight: 500;
}
.ratings-container .skills {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding-right: 10px;
    box-shadow: -1px -1px 2px rgba(255,255,255,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    8px 30px 30px rgba(0,0,0,0.4),
    inset -2px -2px 5px rgba(0,0,0,0.3);
}

.ratings-container .skills h3 {
    min-width: 180px;
    margin-left: 25px;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 2px;
}
.ratings-container .skills .rating {
    position: relative;
    display: flex;
    margin: 10px 0;
    flex-direction: row-reverse;
}
.ratings-container .skills .rating input {
    position: relative;
    width: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
}
.ratings-container .skills .rating input::before {
    content: '\f005';
    position: absolute;
    font-family: fontAwesome;
    font-size: 34px;
    position: absolute;
    left: 4px;
    color: #030b0f;
    transition: 0.5s;
}
.ratings-container .skills .rating input:nth-child(2n + 1)::before {
    right: 4px;
    left: initial;
}
.ratings-container .skills .rating input:hover ~ input::before,
.ratings-container .skills .rating input:hover::before,
.ratings-container .skills .rating input:checked ~ input::before,
.ratings-container .skills .rating input:checked::before {
    color: $primary;
}
// .artist-search-form {
//     text-align: center;
// }
// .artist-search-field {
//     width: 400px;
//     position: relative;
// }

.tab-border {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}
.tab-border button {
    font-size: 10px;
    width: 85%;
}


.testBtn {
    position: absolute;
    top: 8em;
    left: 5em;
    z-index: 0;
}
.home-search {
    position: absolute;
    top: 5.65rem;
    width: 100%;
    z-index: 2;
}
.map-search {
    position: relative;
    width: 100%;
    z-index: 2;
}

.home-search input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    max-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgb(193, 186, 186);
    text-align: center;
}
.map-search input {
    padding: 0.5rem;
    font-size: 1rem;
    width: 100%;
    max-height: 40px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    border: 1px solid rgb(193, 186, 186);
    text-align: left;
}

.backlines {
    display: flex;
    flex-direction: row;
}
.backlineColumn {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.locate {
    position: absolute;
    top: 8.6rem;
    right: 1rem;
    background: none;
    border: none;
    z-index: 7;
}
.locate img {
    width: 35px;
    cursor: pointer;
}
.button-container {
    width: 100%;
    display: flex;
    position: relative;

}
.button-container-elements {
    width: 100%;
    height: 35px;
    z-index: 9;
}
// navbar
.navbar-collapse-overlap {
    z-index: 10;
    overflow: hidden;
}
.navbar-toggler {
    position: relative;
    right: 20px;
}
.navbar-brand {
    border-radius: 10px;
    position: relative;
    left: 20px;
    padding: 12px;
}
// show display
.show-container {
    overflow-y: auto;
    height: 100%;
}
.show-row {
    display: flex;       
}
.show-column {

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

}
.show-options {
    margin: 12px;
    display: flex;

    margin-left: auto;
    margin-right: auto;
}
.show-span {
    display: flex;
    align-items: center;
}
#dropdown-basic-button {
    margin: 2px;
}
// footer
.footer {
    position: fixed;
    left: 0;
    bottom: -45px;
    width: 100%;
    background-color: $warning;
    color: black;
    text-align: center;
}
.footer-content {
    text-align: center;
}
.promote-button {
    position: relative;
    font-size: 14px;
    bottom: 20px;
    left: 45%;
    font-weight: bold;
    background: linear-gradient(to left, $info 25%, $primary 75%);
    line-height: 43px;
    width: 65px;
    z-index: 10;
}
.promote-link {
    background: linear-gradient(to left, white 25%, $info 75%);
    text-decoration: none;
    position: relative;
    right: 1.9%;
    color: $warning;
}

.promote-link {
    text-decoration: none;
}
.c-player {
    display: block;
    background-color: $success;
    position: relative;
    top: 22px;
    right: 180px;
    margin: 0px auto;
    padding: 15px;
    border-radius: 16px;
    width: 65%;
    height: 70px;
    box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(255, 255, 255, 0.4);
}

.c-player--controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 12px;
}
.c-test {
    z-index: 10;
    position: relative;
    left: 270px;
    bottom: -5px;
    display: flex;
    flex-direction: row;
    height: 85%;
    width: 300px;
    color: white;
}

.c-test button {
    width: 130px;
    margin-left: 25px;
    color: white;
}
.playerButton {
    overflow-x: hidden;
    overflow-y: hidden;
    white-space:nowrap;
}
.c-player--controls .play-btn {
    display: flex;
    position: relative;
    top: 13px;
    margin: 0 30px;
    padding: 20px;
    border-radius: 50%;

    border: none;
    outline: none;
    background-color: $warning;
    color: #FFF;
    font-size: 24px;
    cursor: pointer;

}

.c-player--controls .skip-btn {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: #888;
    font-size: 18px;
    height: 5px;
}
.media-player {
    display: flex;
    flex-direction: flex-start;
    position: relative;
    bottom: 57px;
    height: 90px;
    
}
.audio-player {
    position: relative;
    right: 15px;
    width: 250px;
    height: 95%;
}
.song-container {

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.song-info {
    position: relative;
    bottom: 33px;
    left: 20px;
    display: flex;
    flex-direction: row;
    padding: 12px;
    height: 70px;
}
.song-info button {
    padding: 2px;
    width: 115px;

}
#map {
    overflow: hidden;
    height: 100vh;
}
.profile-border {
    margin-left: auto;
    margin-right: auto;
    margin: 50px;
    border: 1px solid #504848;
    border-radius: 10px;
    overflow-x: hidden;
    padding: 5px;
    background-color: $secondary;
    color: $info;
    box-shadow: -1px -1px 2px rgba(255,255,255,0.25),
    inset 2px 2px 5px rgba(255,255,255,0.25),
    8px 30px 30px rgba(0,0,0,0.4),
    inset -2px -2px 5px rgba(0,0,0,0.3);
}
.dropdown-basic {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.test {
    display: flex;
    align-items: end;
    flex-direction: row;
}
//playlist
.playlist-container {
    
    border: 5px solid $warning;
    position: relative;
    left: 271px;
    bottom: 469px;
    width: 300px;
    height: 400px;
    z-index: -1;
    display: none;
    flex-direction: row;
    margin: auto;
    background: linear-gradient(to left, $info 89%, $primary 11%);
}
.playlist-section {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 44.5%;
    border: 1px solid black;
    width: 250px;
}
.current-song-section {
    display: flex;
    flex-direction: column;
    position: relative;
    right: 44.5%;
    border: 1px solid black;
    width: 250px;
}
.playlist-banner {
    border: 1px solid black;
    background-color: $warning;
    color: white;
    position: relative;
    right: 0.2%;
    width: 80px;
    bottom: 0.01%;
}
.playlist-button {
    position: relative;
    background-color: $info;
    border: none; 
    width: 50.6px;
    height: 27px;
}



@media (max-width: 768px) {

    .show-options {
        margin: auto;
    }
    .show-span {
        flex-direction: column;
    }
}
@media (max-width: 540px) {
    // #map {
    //     min-height: 940px;
    //     overflow: hidden;
    // }
}

/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";